<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.sys.dao.mapper.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.elling.sys.model.SysDict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="code_value" jdbcType="VARCHAR" property="codeValue" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="extend_data1" jdbcType="VARCHAR" property="extendData1" />
  </resultMap>
</mapper>