<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.sys.dao.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.elling.sys.model.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="has_children" jdbcType="BOOLEAN" property="hasChildren" />
  </resultMap>
  
  <select id="getMenuLevel" resultMap="BaseResultMap">
  		SELECT T.*, CASE WHEN  EXISTS (SELECT S.MENU_ID FROM SYS_MENU S WHERE S.PARENT_ID = T.MENU_ID) 
  			THEN
				'TRUE'
			ELSE
				'FALSE'
			END AS HAS_CHILDREN
			FROM
				SYS_MENU T
			WHERE
				T.PARENT_ID = #{parentId}
  </select>
  
  <select id="getMenuData" resultType="com.elling.common.entity.TreeNode">
  		SELECT
			CONCAT(T.MENU_ID,'') id,
			CONCAT(T.PARENT_ID,'') pid,
			T.NAME name,
			T.URL url,
		  	T.ICON icon
		FROM
			SYS_MENU T,
			SYS_ROLE_MENU M
		WHERE
			T.MENU_ID = M.MENU_ID
		AND M.ROLE_ID = #{roleId}
  </select>
  <select id="getAllMenuData" resultType="com.elling.common.entity.TreeNode">
  		SELECT
			CONCAT(T.MENU_ID,'') id,
			CONCAT(T.PARENT_ID,'') pid,
			T.NAME name,
			T.URL url,
		  	T.ICON icon
		FROM
			SYS_MENU T
  </select>
</mapper>