<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.rent.dao.mapper.RentPersonMapper">
  <resultMap id="BaseResultMap" type="com.elling.rent.model.RentPerson">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="IDENT_CARD" jdbcType="VARCHAR" property="identCard" />
    <result column="IDENT_ADDR" jdbcType="VARCHAR" property="identAddr" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="EMERGENCY_PERSON" jdbcType="VARCHAR" property="emergencyPerson" />
    <result column="EMERGENCY_TEL" jdbcType="VARCHAR" property="emergencyTel" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <resultMap id="customerMap" type="java.util.HashMap">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="IDENT_CARD" jdbcType="VARCHAR" property="identCard" />
    <result column="IDENT_ADDR" jdbcType="VARCHAR" property="identAddr" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="EMERGENCY_PERSON" jdbcType="VARCHAR" property="emergencyPerson" />
    <result column="EMERGENCY_TEL" jdbcType="VARCHAR" property="emergencyTel" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <!--根据自定义条件查询-->
  <select id="getByCondition" resultMap="customerMap">
	    SELECT
			<include refid="BaseColumn"/>
		FROM
			RENT_PERSON T
		<where>
			<if test="id!=null and id != ''">T.ID = #{id}</if>
			<if test="personCode!=null and personCode != ''">T.PERSON_CODE = #{personCode}</if>
			<if test="personName!=null and personName != ''">T.PERSON_NAME = #{personName}</if>
			<if test="identCard!=null and identCard != ''">T.IDENT_CARD = #{identCard}</if>
			<if test="identAddr!=null and identAddr != ''">T.IDENT_ADDR = #{identAddr}</if>
			<if test="tel!=null and tel != ''">T.TEL = #{tel}</if>
			<if test="email!=null and email != ''">T.EMAIL = #{email}</if>
			<if test="emergencyPerson!=null and emergencyPerson != ''">T.EMERGENCY_PERSON = #{emergencyPerson}</if>
			<if test="emergencyTel!=null and emergencyTel != ''">T.EMERGENCY_TEL = #{emergencyTel}</if>
			<if test="gender!=null and gender != ''">T.GENDER = #{gender}</if>
			<if test="status!=null and status != ''">T.STATUS = #{status}</if>
			<if test="orderNum!=null and orderNum != ''">T.ORDER_NUM = #{orderNum}</if>
			<if test="remark!=null and remark != ''">T.REMARK = #{remark}</if>
			<if test="createTime!=null and createTime != ''">T.CREATE_TIME = #{createTime}</if>
			<if test="updateTime!=null and updateTime != ''">T.UPDATE_TIME = #{updateTime}</if>
		</where>
  </select>
  <sql id="BaseColumn">
  		ID,PERSON_CODE,PERSON_NAME,IDENT_CARD,IDENT_ADDR,TEL,EMAIL,EMERGENCY_PERSON,EMERGENCY_TEL,GENDER,STATUS,ORDER_NUM,REMARK,CREATE_TIME,UPDATE_TIME,TENANT_ID
  </sql>
</mapper>