<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.rent.dao.mapper.RentBillMapper">
  <resultMap id="BaseResultMap" type="com.elling.rent.model.RentBill">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CONTRACT_CODE" jdbcType="VARCHAR" property="contractCode" />
    <result column="HOUSE_CODE" jdbcType="VARCHAR" property="houseCode" />
    <result column="MONEY" jdbcType="VARCHAR" property="money" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="LAST_ELECTRIC" jdbcType="VARCHAR" property="lastElectric" />
    <result column="CURR_ELECTRIC" jdbcType="VARCHAR" property="currElectric" />
    <result column="WATER_PAY_TYPE" jdbcType="CHAR" property="waterPayType" />
    <result column="RENT_NUM" jdbcType="BIGINT" property="rentNum" />
    <result column="LAST_WATER" jdbcType="VARCHAR" property="lastWater" />
    <result column="CURR_WATER" jdbcType="VARCHAR" property="currWater" />
    <result column="PAY_TYPE" jdbcType="CHAR" property="payType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <resultMap id="customerMap" type="java.util.HashMap">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="CONTRACT_CODE" jdbcType="VARCHAR" property="contractCode" />
    <result column="GROUP_CODE" jdbcType="VARCHAR" property="groupCode" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="HOUSE_CODE" jdbcType="VARCHAR" property="houseCode" />
    <result column="HOUSE_NAME" jdbcType="VARCHAR" property="houseName" />
    <result column="MONEY" jdbcType="VARCHAR" property="money" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="LAST_ELECTRIC" jdbcType="VARCHAR" property="lastElectric" />
    <result column="CURR_ELECTRIC" jdbcType="VARCHAR" property="currElectric" />
    <result column="WATER_PAY_TYPE" jdbcType="CHAR" property="waterPayType" />
    <result column="RENT_NUM" jdbcType="BIGINT" property="rentNum" />
    <result column="LAST_WATER" jdbcType="VARCHAR" property="lastWater" />
    <result column="CURR_WATER" jdbcType="VARCHAR" property="currWater" />
    <result column="PAY_TYPE" jdbcType="CHAR" property="payType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <!--根据自定义条件查询-->
  <select id="getByCondition" resultMap="BaseResultMap">
	    SELECT H.HOUSE_NAME,G.GROUP_NAME,
			<include refid="CustBaseColumn"/>
		FROM
			RENT_BILL T,RENT_HOUSE H,RENT_GROUP G
		<where>
			T.HOUSE_CODE = H.HOUSE_CODE AND H.GROUP_CODE = G.GROUP_CODE
			<if test="id!=null and id != ''">AND T.ID = #{id}</if>
			<if test="contractCode!=null and contractCode != ''">AND T.CONTRACT_CODE = #{contractCode}</if>
			<if test="houseCode!=null and houseCode != ''">AND T.HOUSE_CODE = #{houseCode}</if>
			<if test="money!=null and money != ''">AND T.MONEY = #{money}</if>
			<if test="startTime!=null and startTime != ''">AND T.START_TIME = #{startTime}</if>
			<if test="endTime!=null and endTime != ''">AND T.END_TIME = #{endTime}</if>
			<if test="lastElectric!=null and lastElectric != ''">AND T.LAST_ELECTRIC = #{lastElectric}</if>
			<if test="currElectric!=null and currElectric != ''">AND T.CURR_ELECTRIC = #{currElectric}</if>
			<if test="waterPayType!=null and waterPayType != ''">AND T.WATER_PAY_TYPE = #{waterPayType}</if>
			<if test="rentNum!=null and rentNum != ''">AND T.RENT_NUM = #{rentNum}</if>
			<if test="lastWater!=null and lastWater != ''">AND T.LAST_WATER = #{lastWater}</if>
			<if test="currWater!=null and currWater != ''">AND T.CURR_WATER = #{currWater}</if>
			<if test="payType!=null and payType != ''">AND T.PAY_TYPE = #{payType}</if>
			<if test="status!=null and status != ''">AND T.STATUS = #{status}</if>
			<if test="orderNum!=null and orderNum != ''">AND T.ORDER_NUM = #{orderNum}</if>
			<if test="remark!=null and remark != ''">AND T.REMARK = #{remark}</if>
			<if test="createTime!=null and createTime != ''">AND T.CREATE_TIME = #{createTime}</if>
			<if test="updateTime!=null and updateTime != ''">AND T.UPDATE_TIME = #{updateTime}</if>
		</where>
		<choose>
			<when test="orderBy!=null and orderBy != ''">
				ORDER BY #{orderBy}
			</when>
			<otherwise>
				ORDER BY T.ID DESC
			</otherwise>
		</choose>	
  </select>
  <select id="getListByGroup" resultMap="customerMap">
	    SELECT
			G.GROUP_NAME,
			G.GROUP_CODE,
			H.HOUSE_NAME,
			H.HOUSE_CODE
		FROM
			rent_group G,
			rent_house H
		WHERE
			G.GROUP_CODE = H.GROUP_CODE
		ORDER BY G.GROUP_CODE,H.HOUSE_CODE
  </select>
  <sql id="BaseColumn">
  		ID,CONTRACT_CODE,HOUSE_CODE,MONEY,START_TIME,END_TIME,LAST_ELECTRIC,CURR_ELECTRIC,WATER_PAY_TYPE,RENT_NUM,LAST_WATER,CURR_WATER,PAY_TYPE,STATUS,ORDER_NUM,REMARK,CREATE_TIME,UPDATE_TIME
  </sql>
  <sql id="CustBaseColumn">
  		T.ID,T.CONTRACT_CODE,T.HOUSE_CODE,T.MONEY,T.START_TIME,T.END_TIME,T.LAST_ELECTRIC,T.CURR_ELECTRIC,T.WATER_PAY_TYPE,T.RENT_NUM,T.LAST_WATER,T.CURR_WATER,T.PAY_TYPE,T.STATUS,T.ORDER_NUM,T.REMARK,T.SUM,T.CREATE_TIME,T.UPDATE_TIME
  </sql>
</mapper>