<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elling.rent.dao.mapper.RentContractMapper">
  <resultMap id="BaseResultMap" type="com.elling.rent.model.RentContract">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CONTRACT_CODE" jdbcType="VARCHAR" property="contractCode" />
    <result column="CONTRACT_NAME" jdbcType="VARCHAR" property="contractName" />
    <result column="HOUSE_CODE" jdbcType="VARCHAR" property="houseCode" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="SIGN_TIME" jdbcType="VARCHAR" property="signTime" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="RENTER" jdbcType="VARCHAR" property="renter" />
    <result column="DEPOSIT" jdbcType="VARCHAR" property="deposit" />
    <result column="WATER_CLOSE_TYPE" jdbcType="VARCHAR" property="waterCloseType" />
    <result column="PAY_TYPE" jdbcType="VARCHAR" property="payType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DEPT" jdbcType="VARCHAR" property="createDept" />
  </resultMap>
  <resultMap id="customerMap" type="com.elling.rent.model.RentContract">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CONTRACT_CODE" jdbcType="VARCHAR" property="contractCode" />
    <result column="CONTRACT_NAME" jdbcType="VARCHAR" property="contractName" />
    <result column="HOUSE_CODE" jdbcType="VARCHAR" property="houseCode" />
    <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
    <result column="SIGN_TIME" jdbcType="VARCHAR" property="signTime" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime" />
    <result column="RENTER" jdbcType="VARCHAR" property="renter" />
    <result column="DEPOSIT" jdbcType="VARCHAR" property="deposit" />
    <result column="WATER_CLOSE_TYPE" jdbcType="VARCHAR" property="waterCloseType" />
    <result column="PAY_TYPE" jdbcType="VARCHAR" property="payType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="HOUSE_NAME" jdbcType="VARCHAR" property="houseName" />
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DEPT" jdbcType="VARCHAR" property="createDept" />
  </resultMap>
  <!--根据自定义条件查询-->
  <select id="getByCondition" resultMap="customerMap">
	    SELECT H.HOUSE_NAME,P.PERSON_NAME,
			<include refid="CustColumn"/>
		FROM
			RENT_CONTRACT T,RENT_PERSON P,RENT_HOUSE H
		<where>
			T.PERSON_CODE = P.PERSON_CODE AND T.HOUSE_CODE = H.HOUSE_CODE
			<if test="id!=null and id != ''">AND T.ID = #{id}</if>
			<if test="contractCode!=null and contractCode != ''">AND T.CONTRACT_CODE = #{contractCode}</if>
			<if test="contractName!=null and contractName != ''">AND T.CONTRACT_NAME = #{contractName}</if>
			<if test="houseCode!=null and houseCode != ''">AND T.HOUSE_CODE = #{houseCode}</if>
			<if test="personCode!=null and personCode != ''">AND T.PERSON_CODE = #{personCode}</if>
			<if test="signTime!=null and signTime != ''">AND T.SIGN_TIME = #{signTime}</if>
			<if test="startTime!=null and startTime != ''">AND T.START_TIME = #{startTime}</if>
			<if test="endTime!=null and endTime != ''">AND T.END_TIME = #{endTime}</if>
			<if test="renter!=null and renter != ''">AND T.RENTER = #{renter}</if>
			<if test="deposit!=null and deposit != ''">AND T.DEPOSIT = #{deposit}</if>
			<if test="waterCloseType!=null and waterCloseType != ''">AND T.WATER_CLOSE_TYPE = #{waterCloseType}</if>
			<if test="payType!=null and payType != ''">AND T.PAY_TYPE = #{payType}</if>
			<if test="status!=null and status != ''">AND T.STATUS = #{status}</if>
			<if test="orderNum!=null and orderNum != ''">AND T.ORDER_NUM = #{orderNum}</if>
			<if test="remark!=null and remark != ''">AND T.REMARK = #{remark}</if>
			<if test="createTime!=null and createTime != ''">AND T.CREATE_TIME = #{createTime}</if>
			<if test="updateTime!=null and updateTime != ''">AND T.UPDATE_TIME = #{updateTime}</if>
		</where>
  </select>
  <sql id="BaseColumn">
  		ID,CONTRACT_CODE,CONTRACT_NAME,HOUSE_CODE,PERSON_CODE,SIGN_TIME,START_TIME,END_TIME,RENTER,DEPOSIT,WATER_CLOSE_TYPE,PAY_TYPE,STATUS,ORDER_NUM,REMARK,CREATE_TIME,UPDATE_TIME,TENANT_ID,CREATE_USER,CREATE_DEPT
  </sql>
  <sql id="CustColumn">
  		T.ID,T.CONTRACT_CODE,T.CONTRACT_NAME,T.HOUSE_CODE,T.PERSON_CODE,T.SIGN_TIME,T.START_TIME,T.END_TIME,T.RENTER,T.DEPOSIT,T.WATER_CLOSE_TYPE,T.PAY_TYPE,T.STATUS,T.ORDER_NUM,T.REMARK,T.CREATE_TIME,T.UPDATE_TIME,T.TENANT_ID,T.CREATE_USER,T.CREATE_DEPT
  </sql>
</mapper>